body{
    margin: 0;
    padding: 0;
    background: black;
    height: fit-content;

}
.Nav{
    width: fit-content(100%);
}

.About{
    transform: translateX(-3.2vw);
}
.Brand{
    width: max-content;
    position: relative;
}

/*MODIFY THE DISPLAY FOR PHONE*/
@media screen and (max-width: 768px) {
    html{
        zoom: .8;
    }
    .Home, .About {
        font-size: 3.6vw; /* Adjust as needed */
        width: max-content;
    }
    .About{
        position: relative;
        left: 2vw;
    }
    .Brand_name{
        font-size: 4.3vw;
        font-weight: lighter;
    }
    .Seperator{
        top: 12vw;
    }
    .Slogan{
        position: relative;
        top: 11.5vw;
        font-size: 6.5vw;
    }
    .Hook{
        position: relative;
        top: 13vw;
        font-size: 3.6vw;
    }
    .Button{
        top: 22vw;
    }
    .Start_button{
        height: 6.5vh;
        width: 30%;
        font-size: 3.2vw;
        font-kerning: auto;
    }
    .MainImage{
        top: 50vw;
        width: 100%;
    }
    .LandingImage{
        display: flex;
        justify-content: center;
        align-self: center;
        top: 15vw;
    }
    .Trophy{
        position: relative;
        width:100%;
        height: 43%;
        top: 2vw;
    }
    .Title{
        margin-top: 18vh;
        margin-left: 40px;
        text-align: left;
        color: white; /* Light text color for readability */
        font-family: "Montserrat SemiBold",sans-serif;
        font-size: 4vh;
    }
    .Sub{
        margin-left: 40px;
        margin-right: 10px;
        margin-top: 30px;
        text-align: left;
        color: white;
        font-family:"Montserrat SemiBold",sans-serif;
        font-size: 2.5vh;

    }
    .Input{
        margin-top: 80px;
        margin-bottom: 120px;
        margin-left: 50px;
        margin-right: 150px;
        border: aliceblue;
        color: white;
    }
    .note {
        font-size: 1em;
        text-align: center;
        margin-top: 20px;
        color: white;
    }
}


/*MODIFY THE DISPLAY FOR TABLET*/
@media screen and (min-width: 769px) and (max-width: 1024px) and (max-aspect-ratio:4/3) {
    html{
        zoom: .9;
    }
    .Home, .About {
        font-size: 2.4vw; /* Adjust as needed */
        width: max-content;
    }
    .About {
        position: relative;
        left: 4vw;
    }
    .Brand_name{
        font-size: 3.4vw;
        font-weight: lighter;
    }
    .Seperator{
        top: 6.5vh;
    }
    .Slogan{
        position: relative;
        top: 7vh;
        font-size: 5.8vw;

    }
    .Hook{
        position: relative;
        top: 8.2vh;
        font-size: 2.9vw ;
    }
    .Button{
        top: 14vh;
    }
    .Start_button{
        height: 7vh;
        width: 25%;
        font-size: 3vw;
        font-kerning: auto;
    }
    .LandingImage{
        display: flex;
        justify-content: center;
        align-self: center;
        top: 15vw;
    }
    .Trophy{
        position: relative;
        width:95%;
        height: 70%;
        top: 3vw;
    }
    .Title{
        margin-top: 20vh ;
        margin-left: 50px;
        text-align: left;
        color: white; /* Light text color for readability */
        font-family: 'Montserrat SemiBold', sans-serif;
        font-size: 5vh;
    }
    .Sub{
        margin-left: 50px;
        margin-top: 40px;
        margin-right: 10px;
        text-align: left;
        color: white;
        font-family:"Montserrat SemiBold",sans-serif;
        font-size: 2.5vh;

    }
    .Input{
        margin-top: 80px;
        margin-bottom: 120px;
        margin-left: 50px;
        margin-right: 150px;
        border: none !important;
        color: white;

    }
    .note {
        font-size: 1em;
        text-align: center;
        margin-top: 20px;
        color: white;
    }

}

/*MODIFY THE DISPLAY FOR DESKTOP AND LAPTOP*/
@media screen and (min-width: 1024px) and (min-aspect-ratio:3/2)  {
    html{
        zoom: 1;
    }
    .Home, .About {
        font-size: 2vh; /* Adjust as needed */
        transition:none;
    }
    .Brand_name{
        font-size: 2.5vh;
        font-weight: lighter;
    }
    .Seperator{
        top: 6.3vh;
    }
    .Underline{
        top: 5vh;
    }
    .Slogan{
        position: relative;
        top: 1.7vh;
        font-size: 6.5vh;
    }
    .Hook{
        position: relative;
        font-size: 2.4vh;
        top: 2vh ;
    }
    .Button{
        top: 8vh;
    }
    .Start_button{
        height: 6.5vh;
        width: 11%;
        font-size: 1.8vh;
        font-kerning: auto;
    }
    .LandingImage{
        display: flex;
        justify-content: center;
        align-self: center;
        top: 10vh;
    }
    .Trophy{
        position: relative;
        width:39%;
        height: 65%;
        top: -3vh;
    }
    .Title{
        margin-top: 20vh;
        margin-left: 50px ;
        text-align: left;
        color: white; /* Light text color for readability */
        font-family: "Montserrat SemiBold",sans-serif;
        font-size: 6vh;
    }
    .Sub{
        margin-left: 50px;
        margin-top: 40px;
        text-align: left;
        color: white;
        font-family:"Montserrat SemiBold",sans-serif;
        font-size: 3vh;

    }
    .Input{
        margin-top: 80px;
        margin-bottom: 120px;
        margin-left: 50px;
        margin-right: 200px;
        border: aliceblue;
        color: white;
    }
    .note {
        font-size: 1em;
        text-align: center;
        margin-top: 20px;
        color: white;
    }
}

/*Small Tablet*/
@media screen and (min-device-width: 768px) and (max-device-width: 1000px) and (max-aspect-ratio: 3/2)  {
    .Home, .About {
        font-size: 2.5vw; /* Adjust as needed */
        width: max-content;
    }
    .About{
        position: relative;
        left: -10vw;
    }
    .Brand_name{
        font-size: 3.6vw;
        font-weight: lighter;
    }
    .Seperator{
        top: 9vw;
    }
    .Slogan{
        position: relative;
        top: 10vw;
        font-size: 5.8vw;
    }
    .Hook{
        position: relative;
        top: 12vw;
    }
    .Button{
        top: 14vh;
    }
    .Start_button{
        height: 7vh;
        width: 24%;
        font-size: 3vw;
        font-kerning: auto;
    }
    .LandingImage{
        display: flex;
        justify-content: center;
        align-self: center;
        top: 15vw;
    }
    .Trophy{
        position: relative;
        width:100%;
        height: 65%;
        top: 4vw;
    }
    .Title{
        margin-top: 20vh;
        margin-left: 50px;
        text-align: left;
        color: white; /* Light text color for readability */
        font-family:"Montserrat SemiBold",sans-serif;
        font-size: 6vh;
    }
    .Sub{
        margin-left: 50px;
        margin-top: 40px;
        text-align: left;
        color: white;
        font-family:"Montserrat SemiBold",sans-serif;
        font-size: 2.3vh;

    }
    .Input{
        margin-top: 80px;
        margin-bottom: 120px;
        margin-left: 50px;
        margin-right: 200px;
        border: aliceblue;
        color: white;

    }
    .note {
        font-size: 1em;
        text-align: center;
        margin-top: 20px;
        color: white;
    }

}

