body{
    margin: 0;
    padding: 0;
    background: rgba(12, 12, 16, 0.93);
    height: 100%;
    font-family: "Poppins", sans-serif;
    overflow-y: visible;
}
.Brand{
    position: relative;
}
.InterestList label{
    font-kerning: auto;
    color: lightgrey;
    display: inline-block;
    font-family: 'Montserrat', san-serif,sans-serif;
}
.InterestList2 label{
    font-kerning: auto;
    color: lightgrey;
    display: inline-block;
    font-family: 'Montserrat', san-serif,sans-serif;
}
.InterestList label .triangle {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    color: rgba(207, 191, 175, 0.86);
    font-size: 1.3em;
    transform: rotate(0deg);
    display: inline-flex;
    align-items: center;
    align-self: center;
    margin-top: auto;
}

.InterestList2 label .triangle {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    color: rgba(207, 191, 175, 0.86);
    font-size: 1.3em;
    transform: rotate(0deg);
    display: inline-flex;
    align-items: center;
    align-self: center;
    margin-top: auto;
}

.details{
    font-kerning: auto;
    font-family: 'Montserrat', san-serif,sans-serif;
    font-style: italic;
    color: dimgrey;
    display: none;
}
.details.visible{
    display: block;
}
.InterestPage::-webkit-scrollbar{
    display: none;
}
.InterestPage2::-webkit-scrollbar{
    display: none;
}
.Skillname{
    color: floralwhite;
    font-style: italic;
    font-kerning: auto;
    font-family: Poppins,sans-serif;
}
.range-values{
    color: lightgray;
    opacity: .7;
}
input[type="range"] {
    -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
    appearance: none;
    width: 100%; /* Ensure it takes the full width of the container */
    height: 10px; /* Adjust the thickness of the slider */
    background: lightyellow; /* Background of the slider track */
    outline: none; /* Remove outline */
    border-radius: 5px; /* Round the edges of the slider */
    opacity: .85;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px; /* Thumb (slider handle) width */
    height: 30px; /* Thumb (slider handle) height */
    background: lavenderblush; /* Color of the thumb */
    border-radius: 50%; /* Make the thumb circular */
    cursor: pointer; /* Change cursor to pointer */
    opacity: .9;;
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* Thumb width for Firefox */
    height: 20px; /* Thumb height for Firefox */
    background: lightgoldenrodyellow; /* Thumb color */
    border-radius: 50%; /* Round thumb edges */
    cursor: pointer; /* Change cursor to pointer */
}

input[type="range"]::-ms-thumb {
    width: 20px; /* Thumb width for Edge */
    height: 20px; /* Thumb height for Edge */
    background: lightgoldenrodyellow; /* Thumb color */
    border-radius: 50%; /* Round thumb edges */
    cursor: pointer; /* Change cursor to pointer */
}
.custom-select {
    position: relative;
}


.custom-select select {
    appearance: none; /* Removes default dropdown arrow in most browsers */
    -webkit-appearance: none; /* Removes default dropdown arrow in Webkit browsers */
    -moz-appearance: none; /* Removes default dropdown arrow in Firefox */
    width: 100%;
    padding-left: 25px;
    /*padding-right: 30px; !* Extra space for the custom arrow *!*/
    border: 1px solid #ccc;
    background-color: white;
    background-image: none; /* Removes background image (if any) */
    outline: none;
    cursor: pointer;
}

.custom-select::after {
    content: '▼'; /* Custom arrow symbol */
    color: #555;
    position: absolute;
    top: 38%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevents the custom arrow from blocking click events */
}

.SelfGeneralContainer::-webkit-scrollbar {
    display: none;
}
.SelfGeneralPage::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
.LastPage::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
.InterestPage,.InterestPage2{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.RatingPage::-webkit-scrollbar{
    display: none;
}
.RatingPage{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::placeholder{
    color: dimgrey;
    font-family: "Poppins", sans-serif;
}
.fade-out {
    opacity: 0;
    transition: opacity 150ms linear; /* Match the delay in setTimeout */
}






/*MODIFY THE DISPLAY FOR SMALL SCREEN PHONE*/
@media only screen and (max-width: 399px){

    .Home, .About {
        font-size: xx-small; /* Adjust as needed */
        transition:none;
        display: block;
        padding: 1px;
    }
    .Home{
        transform: translateX(-1vw);
        font-size: 3vw;
    }
    .About{
        transform: translateX(1.5vw);
        font-size: 3vw;
    }
    .Brand_name{
        font-size: 4.3vw;
        font-weight: lighter;
    }
    .Seperator{
        top: 12vw;
    }
    .Slogan{
        position: relative;
        top: 11.5vw;
        font-size: 6vw;
    }
    .Hook{
        position: relative;
        top: 13vw;
        font-size: 3.6vw;
    }
    .Button{
        top: 24vw;
    }
    .Start_button{
        height: 6.5vh;
        width: 30%;
        font-size: 3.2vw;
        font-kerning: auto;
    }
    .MainImage{
        top: 50vw;
        width: 100%;
    }
    .LandingImage{
        display: flex;
        justify-content: center;
        align-self: center;
        top: 20vw;
    }
    .Trophy{
        position: relative;
        width:90%;
        height: 60%;
        top: 2vw;
    }
    .Panigation{
        top: 1.5vh;
    }
    .Previous,.Next{
        top: -1vw;
    }
    .LeftPani,.RightPani{
        font-size: 7.5vh;
        font-weight: lighter;
    }
    .Text{
        top: 3vh;
        transform: translateX(3vw);
    }
    .Title{
        font-size: 1.3rem;
    }
    .Sub{
        font-size: 2.82vw;
    }
    .InterestForm, .InterestForm2{
        height: inherit;
    }
    .InterestPage{
        -webkit-overflow-scrolling: touch;
        min-height: 120vh;
        overflow-y: auto;
    }
    .InterestPage2{
        -webkit-overflow-scrolling: touch;
        height: 180vh;
        overflow-y: scroll;
    }
    .InterestContainer ,.InterestContainer2{
        top: 8vh;
        -webkit-overflow-scrolling: touch;
        /*overflow-y: scroll;*/
        height: 100vh;

    }
    .InterestList,.InterestList2{
        height: inherit;
        margin-left: -0.2vw;
    }
    .Require{
        font-size: 4.3vw;
    }
    .InterestList label{
        margin-top: 4vw;
        font-size: 3.5vw;
    }
    .InterestList2 label{
        margin-top: 4vw;
        font-size: 3.5vw;
    }
    .Choice input[type=checkbox]{
        margin-right: 3.5vw;
        transform: translateY(0.5vw);
    }
    .Checkbox{
        align-self: center;
        width: 3.5vw;
        height: 3.5vw;
    }
    .InterestList label .triangle{
        transform: translate(2.5vw,0.5vw);
        font-size: larger;
    }
    .InterestList2 label .triangle{
        transform: translate(2.5vw,0.5vw);
        font-size: larger;
    }
    .details{
        padding-left: 9.5vw;
    }
    .details.expanded {
        padding-top: 5px; /* Add padding when expanded */
        padding-bottom: 8px; /* Add padding when expanded */
    }
    .SubmitButton{
        transform: translateY(1vh);
    }
    .Submit{
        width: 95%;
    }
    .GradingContainer{
        top: 6vh;
    }
    .Textbox1{
        top: -2vw;
        margin-left:  2vw;
        transform: translateX(-1.5vh);
    }
    .Require1{
        font-size: 1.7vh;
    }
    .Rule{
        padding-left: 3vw;
        font-size: 3vw;
    }
    .GradingSlideContainer{
        top: 2vh;
        left: 1vw;
        width: max(103%);
    }
    .Skill1,.Skill3,.Skill5,.Skill7,.Skill9,.Skill11{
        margin-top: 4vh;
        transform: translateX(-1vh);
    }
    .Skill2,.Skill4,.Skill6,.Skill8,.Skill10{
        margin-top: 5vh;
        margin-bottom: 1vh;
        /*transform: translateX(-1vh);*/
    }
    .Skill2,.Skill4,.Skill6,.Skill8,.Skill10{
        transform: translateX(-1vh);
    }
    .Skill11{
        transform: translateX(.5vh);
    }
    .Skillname{
        transform: translateX(1vw);
        font-size: smaller;
    }
    .slider-container{
        margin-top: 2.2vh;
        transform: translateX(1vw);
    }
    .range-values{
        margin-top: 2.8vh;
        font-size: smaller;
    }
    .Slider , .range-values{
        width: 100%;
    }
    input[type="range"] {
        -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
        appearance: none;
        width: 100%; /* Ensure it takes the full width of the container */
        height: 4px; /* Adjust the thickness of the slider */
        /*background: lightyellow; !* Background of the slider track *!*/
        outline: none; /* Remove outline */
        border-radius: 5px; /* Round the edges of the slider */
        opacity: .85;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 14px; /* Thumb (slider handle) width */
        height: 14px; /* Thumb (slider handle) height */
        border-radius: 50%; /* Make the thumb circular */
        cursor: pointer; /* Change cursor to pointer */
    }

    input[type="range"]::-moz-range-thumb {
        width: 15px; /* Thumb width for Firefox */
        height: 15px; /* Thumb height for Firefox */
        border-radius: 50%; /* Round thumb edges */
        cursor: pointer; /* Change cursor to pointer */
    }

    input[type="range"]::-ms-thumb {
        width: 15px; /* Thumb width for Edge */
        height: 15px; /* Thumb height for Edge */
        border-radius: 50%; /* Round thumb edges */
        cursor: pointer; /* Change cursor to pointer */
    }
    .General,.Mark{
        transform: translateX(-0.5vw);
    }
    .SelfGeneralContainer, .SelfMarkContainer,.LastContainer{
        top: 11vh;
        left: -2vh;
    }
    .custom-select ,.Bar{
        width: 100%;
        border-radius: 5vh;
        height: max-content;
    }
    .Gender,.Major,.Location,.KeyFactor{
        margin-top: 5vh;
    }
    .Gender{
        margin-bottom: -2vh;
    }
    .Bar{
        transform: translateX(5vw);
    }
    .AgeBar{
       min-height: 10.5vw;
    }
    .AgeBar, .MarkBar{
        font-size: small;
        text-indent: 15px;
    }
    select.Bar {
        max-width: 100%; /* Ensures it doesn't exceed the container width */
        font-size: 14px; /* Smaller font size for smaller screens */
        padding: 10px; /* Adjust padding for better fit */
    }
    .custom-select::after{
        transform: translate(5vw,-3vw);
        overflow-y: scroll;
    }
    .custom-select select{
        padding-left: 7vw;
        overflow-y: scroll;
    }
    .Mark2,.Mark3{
        margin-top: 5vh;
    }


}


/*FOR LARGE SCREEN PHONE*/
@media screen and (min-width: 400px)  and (max-width: 768px) {
    .Home, .About {
        font-size: 2.85vw; /* Adjust as needed */
        width: max-content;
    }
    .Home{
        transform: translateX(-1.5vw);
    }
    .About{
        position: relative;
        transform: translateX(2vw);
    }
    .Brand_name{
        font-size: 4.3vw;
        font-weight: lighter;
    }
    .Seperator{
        top: 6vw;
    }
    .Slogan{
        position: relative;
        top: 6vw;
        font-size: 6vw;
    }
    .Hook{
        position: relative;
        top: 8vw;
        font-size: 3.5vw;
    }
    .Button{
        top: 18vw;
    }
    .Start_button{
        height: 6.5vh;
        width: 35%;
        font-size: 3.4vw;
        font-kerning: auto;
        font-family: Poppins,sans-serif;
    }
    .MainImage{
        top: 50vw;
        width: 100%;
    }
    .LandingImage{
        display: flex;
        height: inherit;
        justify-content: center;
        align-self: center;
        top: 15vw;
    }
    .Trophy{
        position: relative;
        width:100%;
        height: 45%;
        top: 2vw;
    }
    .Panigation{
        top: 2vh;
    }
    .Previous,.Next{
        top: -1vw;
    }
    .LeftPani,.RightPani{
        font-size: 7vh;
        font-weight: lighter;
    }
    .Text{
        top: 3.8vh;
        transform: translateX(2vh);
    }
    .Title{
        font-size: 1.5rem;
    }
    .Sub{
        font-size: 3.1vw;
    }
    .InterestPage,.InterestPage2 {
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        height: max(140vh);
    }
    .InterestContainer,.InterestContainer2{
        top: 7.8vh;
        height: 79vh;
        overflow-y: hidden;
    }
    .InterestList,.InterestList2{
        margin-left: 0.2vw;
    }
    .Require{
        font-size: 4.3vw;
    }
    .InterestList label{
        margin-top: 4vw;
        font-size: 3.5vw;
    }
    .InterestList2 label{
        margin-top: 4vw;
        font-size: 3.5vw;
    }
    .Choice input[type=checkbox]{
        margin-right: 3.5vw;
        transform: translateY(0.5vw);
    }
    .Checkbox{
        align-self: center;
        width: 3.5vw;
        height: 3.5vw;
    }
    .InterestList label .triangle{
        transform: translate(2.5vw,0.5vw);
        font-size: larger;
    }
    .InterestList2 label .triangle{
        transform: translate(2.5vw,0.5vw);
        font-size: larger;
    }
    .details{
        padding-left: 9.5vw;
    }
    .details.expanded {
        padding-top: 5px; /* Add padding when expanded */
        padding-bottom: 8px; /* Add padding when expanded */
    }
    .SubmitButton{
        transform: translateY(1vh);
    }
    .Submit{
        width: 98%;
    }
    .GradingContainer{
        top: 7.5vh;
    }
    .Textbox1{
        top: -4vw;
        margin-left:  4vw;
        transform: translateX(-1.5vh);
    }
    .Require1{
        font-size: smaller;
    }
    .Rule{
        padding-left: 1.8vw;
        font-size: 3.1vw;
    }
    .GradingSlideContainer{
        top: 2vh;
        left: -1vw;
        width: max(100%);
    }
    .Skill1,.Skill3,.Skill5,.Skill7,.Skill9,.Skill11{
        margin-top: 3vh;
        transform: translateX(-1vh);
    }
    .Skill2,.Skill4,.Skill6,.Skill8,.Skill10{
        margin-top: 3.5vh;
        transform: translateX(-1vh);
    }
    .Skill2{
        margin-bottom: .5vh;
    }
    .Skill4{
        transform: translate(-0.8vh,.5vh);
    }

    .Skillname{
        transform: translateX(2.2vw);
        font-size: medium;
    }
    .slider-container{
        margin-top: 2vh;
        transform: translateX(2vw);
    }
    .range-values{
        margin-top: 2.5vh;
    }
    .Slider , .range-values{
        width: 100%;
    }
    input[type="range"] {
        -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
        appearance: none;
        width: 100%; /* Ensure it takes the full width of the container */
        height: 6px; /* Adjust the thickness of the slider */
        outline: none; /* Remove outline */
        border-radius: 5px; /* Round the edges of the slider */
        opacity: .85;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 16px; /* Thumb (slider handle) width */
        height: 16px; /* Thumb (slider handle) height */
        border-radius: 50%; /* Make the thumb circular */
        cursor: pointer; /* Change cursor to pointer */
    }

    input[type="range"]::-moz-range-thumb {
        width: 16px; /* Thumb width for Firefox */
        height: 16px; /* Thumb height for Firefox */
        border-radius: 50%; /* Round thumb edges */
        cursor: pointer; /* Change cursor to pointer */
    }

    input[type="range"]::-ms-thumb {
        width: 16px; /* Thumb width for Edge */
        height: 16px; /* Thumb height for Edge */
        border-radius: 50%; /* Round thumb edges */
        cursor: pointer; /* Change cursor to pointer */
    }
    .General{
        transform: translateX(-0.5vw);
    }
    .SelfGeneralContainer, .SelfMarkContainer,.LastContainer{
        top: 11vh;
        left: -.5vh;
    }
    .custom-select ,.Bar{
        width: 90%;
        border-radius: 5vh;
        height: max-content;
    }
    .Gender,.Major{
        margin-top: 6vh;
    }
    .KeyFactor,.Location{
        margin-top: 4vh;
    }
    .Gender{
        margin-bottom: -1vh;
    }
    .Bar{
        transform: translateX(4.5vw);
    }
    .AgeBar{
        height: 10vw;
    }
    .AgeBar, .MarkBar{
        font-size: small;
        text-indent: 15px;
    }
    select.Bar {
        max-width: 100%; /* Ensures it doesn't exceed the container width */
        font-size: 14px; /* Smaller font size for smaller screens */
        padding: 10px; /* Adjust padding for better fit */
    }
    .custom-select::after{
        transform: translate(2vh,-1.3vh);
    }
    .custom-select select{
        padding-left: 6vw;
    }
    .Mark2,.Mark3{
        margin-top: 4vh;
    }

}





/*MODIFY THE DISPLAY FOR TABLET*/
@media screen and (min-width: 769px) and (max-width: 1024px) and (max-aspect-ratio:16/9) {
    .Home, .About {
        font-size: 2.1vh; /* Adjust as needed */
        transition:none;
        display: block;
        padding: 4px;
    }

    .Brand_name{
        font-size: 3.4vw;
        font-weight: lighter;
    }
    .Seperator{
        top: 5vh;
    }
    .Slogan{
        position: relative;
        top: 7vh;
        font-size: 5.4vw;

    }
    .Hook{
        position: relative;
        top: 8.2vh;
        font-size: 2.7vw ;
    }
    .Button{
        top: 14vh;
    }
    .Start_button{
        height: 7vh;
        width: 25%;
        font-size: 3vw;
        font-kerning: auto;
    }
    .LandingImage{
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
        top: 17vw;
        height: fit-content;
    }
    .Trophy{
        position: relative;
        width:95%;
        height: 80%;
        top: -3vw;
    }
    .Panigation{
        top: 2vh;
    }
    .Previous,.Next{
        top: -1vw;
    }
    .LeftPani,.RightPani{
        font-weight: lighter;
        font-size: 10vw;
    }
    .Text{
        top: 6vh;
        transform: translateX(5vw);
    }
    .Title{
        font-size: 4.4vw;
    }
    .Sub{
        font-size: 2.55vw;
    }
    .InterestPage{
        -webkit-overflow-scrolling: touch;
        height: 130vh;
    }
    .InterestPage2{
        -webkit-overflow-scrolling: touch;
        height: 150vh;
    }
    .InterestContainer,.InterestContainer2{
        top: 13vh;
        -webkit-overflow-scrolling: touch;
    }
    .InterestForm,.InterestForm2{
        top: -1vw;
    }
    .InterestList,.InterestList2{
        margin-left: 0.2vw;
        overflow-y: hidden;
    }
    .Require{
        font-size: 3vw;
    }
    .InterestList label{
        margin-top: 4vw;
        font-size: 3vw;
    }
    .InterestList2 label{
        margin-top: 4vw;
        font-size: 3vw;
    }

    .Choice input[type=checkbox]{
        margin-right: 3.5vw;
        transform: translateY(0.5vw);
    }
    .Checkbox{
        align-self: center;
        width: 3.2vw;
        height: 3.2vw;
    }

    .InterestList label .triangle{
        transform: translate(2.5vw,0.5vw);
        font-size: xx-large;
    }
    .InterestList2 label .triangle{
        transform: translate(2.5vw,0.5vw);
        font-size: xx-large;
    }
    .details{
        padding-left: 7vw;
    }
    .details.expanded {
        padding-top: 5px; /* Add padding when expanded */
        padding-bottom: 10px; /* Add padding when expanded */
    }
    .SubmitButton{
        transform: translateY(0.7vh);
    }
    .Submit{
        width: 14vw;
        height: 7vw;
        font-size: 1.5rem;
    }
    .GradingContainer{
        top: 7vh;
    }
    .Textbox1{
        top: 1vw;
        margin-left:  -2vw;
        transform: translateX(3.5vh);
    }
    .Require1{
        font-size: 2.7vw;
    }
    .Rule{
        padding-left: 2.8vw;
        font-size: 2.6vw;
    }
    .GradingSlideContainer{
        top: 5vh;
        left: 2vw;
        width: max(100%);
    }
    .Skill1,.Skill3,.Skill5,.Skill7,.Skill9,.Skill1{
        margin-top: 3vh;
        transform: translateX(-0.5vh);
    }
    .Skill2,.Skill4,.Skill6,.Skill8,.Skill10{
        margin-top: 4vh;
        margin-bottom: 1vh;
        transform: translateX(-0.5vh);
    }
    .Skill2,.Skill4,.Skill6,.Skill8,.Skill10{
        transform: translateX(-0.5vh);
    }
    .Skill5,.Skill7,.Skill9,.Skill11{
        transform: translateX(-0.5vh);
    }

    .Skillname{
        transform: translateX(-1vw);
        font-size: 2.5vw;
    }
    .range-values span{
        font-size: xx-large ;
    }
    .slider-container{
        margin-top: 2.5vh;
        transform: translateX(-1vw);
    }
    .range-values{
        margin-top: 2vh;
    }
    .Slider , .range-values{
        width: 100%;
    }
    .General, .Mark ,.General1{
        transform: translateX(-0.5vw);
    }
    .SelfGeneralContainer , .SelfMarkContainer,.LastContainer{
        top: 15vh;
        left: 3vw;
    }
    .custom-select ,.Bar{
        width: 80%;
        border-radius: 5vh;
        height: max-content;
    }
    .Gender,.Major,.KeyFactor,.Location{
        margin-top: 7vh;
        font-size: xx-large;
    }
    .Gender{
        margin-bottom: -1vh;
    }
    .Bar{
        transform: translateX(2vw);
    }
    .AgeBar , .MarkBar{
        text-indent: 35px;
        font-size: xx-large;
    }
     select.Bar {
        padding: 10px; /* Adjust padding for better fit */
    }
    .custom-select::after{
        transform: translate(1vh,-1.5vh);
        font-size: 2.8vw;
    }
    .custom-select select{
        padding-left: 5vw;
        font-size: xx-large;
    }
    .custom-select option{
        font-size: medium;
    }
    .Mark2,.Mark3{
        margin-top: 6vh;
    }


}

/*MODIFY THE DISPLAY FOR DESKTOP AND LAPTOP*/
@media screen and (min-width: 1024px) and (min-aspect-ratio:4/3) {
    .Home, .About {
        font-size: 2.5vh; /* Adjust as needed */
        width: max-content;
        margin-top: 1vw;
    }
    .Home{
        transform: translateX(-10vw);
    }
    .About{
        transform: translateX(-19vw);
    }
    .Brand_name{
        font-size: 3vh;
        font-weight: lighter;
        margin-top: 1vw;
    }
    .Seperator{
        top: 6.3vh;
    }
    .Underline{
        top: 5vh;
    }
    .Slogan{
        position: relative;
        top: 1.7vh;
        font-size: 6.5vh;
    }
    .Hook{
        position: relative;
        font-size: 2.4vh;
        top: 2vh ;
    }
    .Button{
        top: 8vh;
    }
    .Start_button{
        height: 6.5vh;
        width: 10%;
        font-size: 1.8vh;
        font-kerning: auto;
        font-family: Poppins,sans-serif;
    }
    .LandingImage{
        display: flex;
        justify-content: center;
        align-self: center;
        top: 11.5vh;
    }
    .Trophy{
        position: relative;
        width:36%;
        top: -7vh;
        height: 34vw;
    }
    .Panigation{
        top: 1vh;
    }
    .Previous,.Next{
        top: -1vh;
    }
    .LeftPani,.RightPani{
        font-size: 8.5vh;
        font-weight: lighter;
    }
    .Text{
        top: 3.5vh;
        left: 5vh;
    }
    .Title{
        font-size: 3.5vh;
    }
    .Sub{
        font-size: 2vh;
    }
    .InterestPage,.InterestPage2{
        min-height: 100vh;
        max-height: 120vh;
    }
    .InterestPage2{
        height: 83vh;
    }
    .InterestContainer,.InterestContainer2{
        top: 5vh;
    }

    .InterestForm,.InterestForm2{
        top: 4vh;
    }
    .InterestList,.InterestList2{
        margin-left: .3vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Require{
        font-size: 2.3vh;
    }
    .InterestList label{
        margin-top:3vh;
        padding-bottom: -3vh;
        font-size: larger;
        width: 45%;
    }
    .InterestList2 label{
        margin-top:3vh;
        padding-bottom: -3vh;
        font-size: larger;
        width: 45%;
    }

    .Choice input[type=checkbox]{
        margin-right: 2vw;
        transform: translateY(0.5vh);
    }

    .Checkbox{
        align-self: center;
        width: 2.6vh;
        height: 2.6vh;
    }

    .InterestList label .triangle{
        transform: translate(2.5vh,0.3vw);
        font-size: 1.5vw;
    }
    .InterestList2 label .triangle{
        transform: translate(2.5vh,0.3vw);
        font-size: 1.5vw;
    }
    .details{
        font-size: large;
        padding-left: 6.8vh;
        padding-bottom: -5vw;
    }
    .details.expanded {
        padding-top: 5px; /* Add padding when expanded */
        padding-bottom: 10px; /* Add padding when expanded */
    }
    .SubmitButton{
        transform: translateY(0.7vh);
    }
    .Submit{
        width: 10vh;
        height: 5vh;
    }
    .GradingContainer{
        top: 4vw;
    }
    .Textbox1{
        top: -1vw;
        margin-left:  1.5vw;
    }
    .Require1{
        font-size: medium;
    }
    .Rule{
        padding-left: 1.2vw;
    }
    .GradingSlideContainer{
        top: 2vh;
        left: 2vw;
    }
    .Skill1,.Skill3,.Skill5,.Skill7,.Skill9,.Skill11{
        margin-top: 5vh;
        /*transform: translateX(-1vh);*/
    }
    .Skill2,.Skill4,.Skill6,.Skill8,.Skill10{
        margin-top: 6vh;
        margin-bottom: 1vh;
        /*transform: translateX(-1vh);*/
    }
    /*.Skill4{*/
    /*    transform: translateY(-2.8vh);*/
    /*}*/
    .Skillname{
        transform: translateX(-1vw);
        font-size: large;
    }
    .slider-container{
        margin-top: 4vh;
        transform: translateX(-1vw);
    }
    .range-values{
        margin-top: 1.5vh;
        font-size: medium;
    }
    .Slider , .range-values{
        width: 40%;
    }
    input[type="range"] {
        -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
        appearance: none;
        width: 40%; /* Ensure it takes the full width of the container */
        height: 6px; /* Adjust the thickness of the slider */
        outline: none; /* Remove outline */
        border-radius: 5px; /* Round the edges of the slider */
        opacity: .85;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 17px; /* Thumb (slider handle) width */
        height: 17px; /* Thumb (slider handle) height */
        border-radius: 50%; /* Make the thumb circular */
        cursor: pointer; /* Change cursor to pointer */
    }

    input[type="range"]::-moz-range-thumb {
        width: 17px; /* Thumb width for Firefox */
        height: 17px; /* Thumb height for Firefox */
        border-radius: 50%; /* Round thumb edges */
        cursor: pointer; /* Change cursor to pointer */
    }

    input[type="range"]::-ms-thumb {
        width: 17px; /* Thumb width for Edge */
        height: 17px; /* Thumb height for Edge */
        border-radius: 50%; /* Round thumb edges */
        cursor: pointer; /* Change cursor to pointer */
    }
    .General ,.Mark{
        transform: translateX(.5vw);
    }
    .SelfGeneralContainer , .SelfMarkContainer{
        top: 13vh;
        left: 1.5vw;
    }
    .custom-select ,.Bar{
        width: 40%;
        border-radius: 5vh;
        height: 5vh;
        font-size: 1.1em;
    }
    .Gender,.Major,.Mark2 ,.Mark3{
        margin-top: 6vh;
    }
    .Gender{
        margin-bottom: 1vh;
    }
    .AgeBar , .MarkBar{
        text-indent: 15px;
    }
    .custom-select::after{
        transform: translateY(-1vh);
    }

}

/*Small Tablet*/
@media screen and (min-device-width: 768px) and (max-device-width: 1000px) and (max-aspect-ratio: 3/2) {
    .Home, .About {
        font-size: 1.8vh; /* Adjust as needed */
        transition:none;
        display: block;
        padding: 4px;
    }
    .Brand_name{
        font-size: 3.6vw;
        font-weight: lighter;
    }
    .Seperator{
        top: 9vw;
    }
    .Slogan{
        position: relative;
        top: 10vw;
        font-size: 5.2vw;
    }
    .Hook{
        position: relative;
        top: 12vw;
        font-size:x-large;
    }
    .Button{
        top: 14vh;
    }
    .Start_button{
        height: 7vh;
        width: 24%;
        font-size: 3vw;
        font-kerning: auto;
    }
    .LandingImage{
        display: flex;
        justify-content: center;
        align-self: center;
        top: 15vw;
    }
    .Trophy{
        position: relative;
        width:100%;
        height: 50%;
        top: -1.5vw;
    }
    .Panigation{
        top: 2vh;
    }
    .LeftPani,.RightPani{
        font-size: 10.5vw;
        font-weight: lighter;
    }
    .Text{
        top: 6vw;
        transform: translateX(4.5vw);
    }
    .Title{
        font-size: 2.1rem;
    }
    .Sub{
        font-size: 1.15rem;
    }
    .InterestPage{
        -webkit-overflow-scrolling: touch;
        height: 165vh ;
    }
    .InterestPage2{
        -webkit-overflow-scrolling: touch;
        height: 180vh ;
    }
    .InterestContainer,.InterestContainer2{
        top: 9vh;
    }
    .InterestForm,.InterestForm2{
        top: 1vh;
    }
    .Require{
        font-size: 3.2vw;
    }
    .Choice input[type=checkbox]{
        width: 3vw;
        height: 3vw;
        margin-right: 5vw;
    }
    .InterestList label .triangle{
        transform: translate(2.2vw,0.3vw);
        font-size: x-large;
    }
    .InterestList2 label .triangle{
        transform: translate(2.2vw,0.3vw);
        font-size: x-large;
    }
    .details{
        margin-left: -1vw;
    }
    .details.expanded {
        padding-top: 15px; /* Add padding when expanded */
        padding-bottom: 3vw; /* Add padding when expanded */
    }
    .SubmitButton{
        transform: translateY(0.7vh);
    }
    .Submit{
        width: 98%;
        /*width: 16vw;*/
        /*height: 5vh;*/
        font-size: 1.3rem;
    }
    .Textbox1{
        top: -1vw;
    }
    .Require1{
        font-size: larger;
    }
    .Rule{
        padding-left: 3.5vw;
        font-size: 2.5vw;
    }
    .Skillname{
        font-size: larger;
    }
    .range-values{
        font-size: x-large;
        margin-top: 2vh;
    }
    .slider-container{
        margin-top: 2.5vh;
        transform: translateX(2vw);
    }
    .General ,.Mark,.General1{
        transform: translateX(-0.5vw);
    }
    .SelfGeneralContainer ,.SelfMarkContainer,.LastContainer{
        top: 12vh;
        left: .1vh;
    }
    .custom-select ,.Bar{
        width: 83%;
        border-radius: 5vh;
        height: max-content;
    }
    .Gender,.Major{
        margin-top: 6vh;
        font-size: xx-large;
    }
    .Gender{
        margin-bottom: -1vh;
    }
    .Bar{
        transform: translateX(4vw);
    }
    .AgeBar, .MarkBar{
        text-indent: 35px;
        font-size: x-large;

    }
    select.Bar {
        padding: 10px; /* Adjust padding for better fit */
    }
    .custom-select::after{
        font-size: large;
        transform: translate(1.5vh,-1.5vh);
    }
    .custom-select select{
        padding-left: 5vw;
        font-size: x-large;
    }
    .custom-select option{
        font-size: medium;
    }
    .Mark2,.Mark3{
        margin-top: 8vw;
    }
    .InterestList label{
        font-size: 2.8vw;
    }
    .InterestList2 label{
        font-size: 2.8vw;
    }

}

